@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast {
   border-radius: 4px;
   background-color: #333;
   padding: 0px;
 }
 
.Toastify__toast-container {
   width: min(400px, 100vw);
}